#app {
     width: 80%;
     margin: 0 auto;
}

.text-editor {
    border: 1px solid #666;
    width: 100%;
    min-height: 200px;
}

.proofread-panel {
    border: 1px solid #666;
    width: 100%;
    min-height: 200px;

    white-space: pre-wrap;
}